@font-face {
    font-family: "Caveat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Caveat/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Caveat/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Caveat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Caveat/700.woff2") format("woff2"), url("/_hcms/googlefonts/Caveat/700.woff") format("woff");
  }
  @font-face {
    font-family: "Noto Sans Hebrew";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Noto_Sans_Hebrew/800.woff2") format("woff2"), url("/_hcms/googlefonts/Noto_Sans_Hebrew/800.woff") format("woff");
  }
  @font-face {
    font-family: "Noto Sans Hebrew";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Noto_Sans_Hebrew/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Noto_Sans_Hebrew/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Noto Sans Hebrew";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Noto_Sans_Hebrew/700.woff2") format("woff2"), url("/_hcms/googlefonts/Noto_Sans_Hebrew/700.woff") format("woff");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/900.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/900.woff") format("woff");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/700.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/700.woff") format("woff");
  }