* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    direction: rtl;
    background-image: url('../images/background.png');
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment:fixed;
    text-align: right;
    margin: 0;
}

div,
span,
p,
input {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    color: #3c2415;
}


.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c2415;
}

.separator {
    border-bottom: 2px solid;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.menu {
    line-height: 45px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #8dc63f;
    margin: 0 20px;
}

.content,
.about-us,
.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content.main {
    padding: 5%;
}

.section-title {
    font-weight: 800;

}

.section-title {
    margin: 30px 0 15px 0;
    text-decoration: none;
    color: #8dc63f;
    font-size: 32px;
    line-height: 72px;
}

.section-title.sub-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 52px;
}

.section-main-img {
    height: auto;
    max-width: 80%;
}

.about-us .items {
    line-height: 2;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        background-image: none;
    }
    .menu {
        display: none;
    }
    .section-title.sub-title {
        font-size: 22px;
    }
    .section-main-img {
        max-width: 390px;
        margin-top: 40px;
    }
    .how-image-container,
    .the-team-container,
    .donations-bank {
        flex-direction: column;
    }

    .team-card-container {
        margin-bottom: 70px;
    }

    .team-card-label-content {
        max-width: 150px;
    }
    
    .donations-bank .logo-jgive img {
        width: 150px;
        margin-top: 50px;
    }
    .donations-bank .bank-details p:last-child, .contact > div {
        font-size: 12px;
    }
    .navbar {
        display: block !important;
    }
}


.how-image-container {
    display: flex;
}

.how-image-container img {
    width: 300px;
    height: auto;
    max-width: 100%;
}

.how-image-container img:hover {
    transform: scale(1.2);

}

.the-team {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.team-card-container {
    position: relative;
}

.the-team-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.team-card-container .team-card-image-content img {
    max-width: 264px;
    max-height: 350px;
    border-radius: 15px;
}


.team-card-label-content {
    position: absolute;
    bottom: -40px;
    right: 25px;
    text-wrap: nowrap;
    box-shadow: 0px 10px 30px 0px rgba(1, 11, 60, 6%);
    text-align: center;
    background-color: rgba(255, 255, 255, 100%);
    padding: 15px 60px;
    border-radius: 7px
}

.team-card-label-content:hover {
    background: #8dc63f;
}

.team-card-label-content:hover .team-card-label-name,
.team-card-label-content:hover .team-card-label-position {
    color: #FFFFFF;
}

.team-card-label-name {
    color: #0E1133;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-transform: capitalize;
}

.contact-us {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.contact-us .section-title {
    font-family: 'Avenir Next', sans-serif;
}

.contact-us-container {
    padding: 20px;
    background-color: rgba(141, 198, 63, 51%);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.contact-field-content {
    text-align: justify;
    margin-bottom: 30px;
}

.contact-us-description {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: start;
    margin: 40px 0;
}

.contact-field-content.required>label::after {
    content: "*";
    color: rgb(255, 0, 0);
}

.contact-field-content>label {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.contact-field-content input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

input[type=submit] {
    max-width: 375px;
    width: 100%;
    border: 2px solid #8dc63f;
    font-weight: 400;
    text-decoration: none;
    background: #8dc63f;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
}

input[type=submit]:hover {
    border: 2px solid #1239ff;
    background: #1239ff;
    cursor: pointer;
}

.terms {
    font-size: 14px;
}

#submit-message {
    display: none;
}

.show {
    display: block !important;
}

#thank-you-message.show {
    display: block;
}

.donations-bank {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.donation .logo-jgive {
    width: 200px;
    height: 47px;
}

.contact {
    margin-top: 70px;
}

.iframe-hide {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
    overflow: hidden;
    background-color: #3c2415;
    height: 50px;
    width: 50px;
    top: 13px;
    right: 0;
    z-index: 9000;
    position: fixed;
    display: none;
    display: flex;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
    display: none;
    position: fixed;
    background-color: #3c2415;
    width: 150px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #8dc63f;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 20px;
  width: 24px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  background-color: white;
  margin-right: 8px;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  background-color: white;
  margin-right: 8px;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  background-color: white;
  margin-right: 8px;
}

.navbar .menu-items {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #3c2415;
    width: 150px;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    text-align: center;
    right: -1px;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateY(50px);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

:target:before {
    content:"";
    display:block;
    height:20px; 
    margin:-20px 0 0;
}